.topbar {
    padding: 2rem;
    padding-left: 1.5rem;
    display: block;
}

.topbar-link {
    color: #e3e3e3;
    text-decoration: none;
}

.topbar-link:hover {
    color: #e3e3e3;
    text-decoration: underline;
}

.topbar-h6 {
    font-weight: bolder;
}
